@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/*CUSTOM SCROLLBAR CSS FROM W3 SCHOOLS*/
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/*CUSTOM SCROLLBAR CSS FROM W3 SCHOOLS*/

/*To all Anchor Tags*/
a {
  text-decoration: none;
  color: thistle;
}
/*To all Anchor Tags*/
.hiddenbutts {
  display: none;
}
@media (max-width: 420px) {
  .navbar h2 {
    font-size: 35px !important;
  }
}

@media (max-width: 1200px) {
  .navbar {
    padding: 5px;
  }
  .navbar h2 {
    font-size: 35px;
  }
}
/*FOR NAVBAR => */
@media (max-width: 880px) {
  /*HAMBURGER*/
  .hiddenbutts {
    display: block;
  }
  .fa-times,
  .fa-bars {
    display: block;
    color: white;
    font-size: 25px;
    padding: 5px 12px 5px 12px;
    border: 1px solid white;
    background: transparent;
    border-radius: 5px;
  }
  /*HAMBURGER*/
  /*Navbar CSS*/
  .navbar {
    padding: 5px;
  }
  .navbar h2 {
    font-size: 40px;
    color: white;
    font-weight: 500;
    text-shadow: 3px 3px 5px black;
    letter-spacing: 2px;
  }
  .navbar .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 20px;
  }
  .navbar .inner .navLinks a {
    margin-bottom: 50px;
    color: aqua;
    font-weight: 700;
    font-size: 25px;
    padding-left: 25px;
    padding-right: 25px;
  }
  .navbar .inner .navLinks a:hover {
    color: chartreuse;
  }
  /*Navbar CSS*/
}
/* FOOTER */
@media (max-width: 425px) {
  .footer {
    padding: 8px !important;
  }
}
.footer {
  padding: 15px 0 25px 0;
  text-align: center;
  background: black;
  color: aqua;
}
.footer p {
  padding: 20px;
  font-size: 22px;
}
@media (max-width: 730px) {
  .footer p {
    padding-left: 50px;
    padding-right: 50px;
  }
  .footer p a {
    display: block;
    margin-top: 10px;
  }
}
/*FOOTER*/

/*Navbar CSS*/
.navbar {
  padding: 5px;
  background-color: #1fd1f9;
  background-image: linear-gradient(30deg, #1fd1f9 0%, #b621fe 74%);
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.101);
}
.navbar h2 {
  font-size: 40px;
  color: white;
  font-weight: 500;
  text-shadow: 3px 3px 5px black;
  letter-spacing: 2px;
}
.navbar .inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 20px;
}
.navbar .inner .navLinks {
  display: flex;
  align-items: center;
}
.navbar .inner .navLinks a {
  font-weight: 500;
  font-size: 17px;
  margin-left: 12px;
  margin-right: 12px;
  vertical-align: middle;
}
.navbar .inner .navLinks a:hover {
  color: aqua;
}
/*Navbar CSS*/

/*bg1*/
.bg1 {
  padding: 0.8% 5% 0 5%;
  background: rgba(153, 153, 153, 0.048);
  min-height: 700px;
  overflow-x: hidden;
}
/*head*/
.bg1 .head {
  padding: 20px;
}
.bg1 .head h1 {
  font-size: 45px;
  font-weight: 700;
}
.bg1 .head p {
  font-size: 20px;
  margin-top: 10px;
  margin-left: 8px;
}

.active {
  color: aqua;
}
@media (max-width: 380px) {
  .block380px {
    display: block;
    margin-top: 12px;
  }
}
/*head*/

/*FOR NAVBAR => */
@media (max-width: 880px) {
  /*HAMBURGER*/
  .hiddenbutts {
    display: block;
  }
  .fa-times,
  .fa-bars {
    display: block;
    color: white;
    font-size: 25px;
    padding: 5px 12px 5px 12px;
    border: 1px solid white;
    background: transparent;
    border-radius: 5px;
  }
  /*HAMBURGER*/
  /*Navbar CSS*/
  .navbar {
    padding: 5px;
  }
  .navbar h2 {
    font-size: 40px;
    color: white;
    font-weight: 500;
    text-shadow: 3px 3px 5px black;
    letter-spacing: 2px;
  }
  .navbar .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 20px;
  }
  .navbar .inner .navLinks {
    display: none;
    top: 78px;
    left: 0;
    position: absolute;
    height: 120vh;
    width: 100%;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;
    transition: 0.5s;
    animation: navbar-animate 0.3s linear;
    z-index: 100000000000000000000000000;
    background: #000;
    background-attachment: fixed;
  }
  @keyframes navbar-animate{
    0%{
      left: -75vw;
    }
    100%{
      left: 0;
    }
  }
  .navbar .inner .navLinks a {
    margin-bottom: 50px;
    color: aqua;
    font-weight: 700;
    font-size: 25px;
    padding-left: 25px;
    padding-right: 25px;
  }
  .navbar .inner .navLinks a:hover {
    color: chartreuse;
  }
  /*Navbar CSS*/
}
/* FOOTER */
.footer {
  padding: 15px 0 25px 0;
  text-align: center;
  background: black;
  color: aqua;
}
.footer p {
  padding: 20px;
  font-size: 22px;
}
@media (max-width: 730px) {
  .footer p {
    padding-left: 50px;
    padding-right: 50px;
  }
  .footer p a {
    display: block;
    margin-top: 10px;
  }
}
/*FOOTER*/
@media (max-width: 880px) {
  .active {
    color: chartreuse !important;
  }
}
