@media (max-width: 880px) {
  .active {
    color: chartreuse !important;
  }
}
.body {
  background: black;
  color: #fff;
  height: 100vh;
}

@media (max-width: 600px) {
  .body {
    background: url(https://i.pinimg.com/originals/bc/55/51/bc5551ac237a9ef4d8e9575662f2e106.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: center;
    background-position-y: center;
    background-blend-mode: color;
    background-color: rgba(0, 0, 0, 0.6);
  }
}
@keyframes fadeIn {
  from {
    top: 20%;
    opacity: 0;
  }
  to {
    top: 100;
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  from {
    top: 20%;
    opacity: 0;
  }
  to {
    top: 100;
    opacity: 1;
  }
}

.wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  animation: fadeIn 1000ms ease;
  -webkit-animation: fadeIn 1000ms ease;
}

h1 {
  font-size: 60px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 0;
  line-height: 1;
  font-weight: 700;
}

.dot {
  color: #4febfe;
}

p {
  text-align: center;
  margin: 18px;
  font-family: "Muli", sans-serif;
  font-weight: normal;
  margin-top: 40px;
  margin-bottom: 25px;
  font-size: 18px;
}
.me {
  color: aqua;
}
.icons {
  text-align: center;
  vertical-align: middle;
}
.body .icons .social a i {
  font-size: 30px;
  padding: 10px;
  margin: 8px;
  transition: 0.5s;
  color: aqua;
  border-radius: 50%;
}
.body .icons .social a i:hover {
  background: white;
  transition: 0.5s;
  border-radius: 50%;
  color: #ff156f !important;
}

@media(max-width:880px){
  .navbar .inner .navLinks {
    top: 86.8px !important;
  }
}
