{% extends 'base.html' %}
{% load static %}
{% block title%}
Veronica | Home
{% endblock title%}

{% block activelink1 %}
  active
{% endblock activelink1 %}


{% block body%}
<link rel="stylesheet" href="{% static 'css/Index.css' %}">
<!--MAIN-->
    <div id="bgone" class="bg1">
        <div class="head">
            <h1>The Online Web Scraper</h1>        
            <hr style="width: 70px;">
            <p>Making web data extraction easy and accessible for everyone.</p>
        </div>
        <div id="r1" class="row">
                <img id="first" src="{% static 'images/1.jpg' %}" alt="">
            <div class="content">
                <h1>What is Web Scraping?</h1>
               <p> Web scraping, web harvesting, or web data extraction is data scraping used for extracting data from websites. The web scraping software may directly access the World Wide Web using the Hypertext Transfer Protocol or a web browser. While web scraping can be done manually by a software user, the term typically refers to automated processes implemented using a bot or web crawler. It is a form of copying in which specific data is gathered and copied from the web, typically into a central local database or spreadsheet, for later retrieval or analysis.Web scraping a web page involves fetching it and extracting from it.</p>
               <div class="twoButtons">
                   <a href="{% url 'veronica' %}"> Start Now </a>
                   <a href="https://en.wikipedia.org/wiki/Web_scraping" target="_blank"> Learn More</a>
               </div>
            </div>
        </div>        
        <div id="r2" class="row">
            <div class="content">
                <h1 style="margin-top: 25px;">Why Choose Veronica ?</h1>
            <p style="line-height: 28px;">   Web data extraction tool with an easy point-and-click interface for modern web
                Free and easy to use web data extraction tool for everyone.
                With a simple point-and-click interface, the ability to extract thousands of records from a website takes only a few minutes of scraper setup.
                Web Scraper utilizes a modular structure that is made of selectors, which instruct the scraper on how to traverse the target site and what data to extract. Thanks to this structure, data mining from modern and dynamic websites such as Amazon, Tripadvisor, eBay, as well as from lesser-known sites is effortless.
                Data extraction is run on your browser and doesn’t require anything to be installed on your computer. You don't need Python, PHP, or JavaScript coding experience to start scraping. Additionally, it is possible to completely automate data extraction in Web Scraper Cloud.
            </p>
            </div>
            <img id="second" src="{% static 'images/3.jpg' %}" alt="">
        </div>
        <div id="r3" class="row" style="margin-top: 40px;">
            <img id="third" style="width: 50%;margin-right: 7%;" src="{% static 'images/2.jpg' %}" alt="">
            <div class="content">
                <h1 style="margin-top: 25px;">Easy to Use: <span id="block"> No Coding Required! </span></h1>
            <p style="line-height: 40px;font-size: 18px;">
                Need to extract data quickly?
            </p>
            <p style="line-height: 40px;font-size: 18px;">
                Open a website of your choice and start clicking on the data you want to extract. It's that easy! Scrape your data with no code at all.
            </p>
            <p style="line-height: 40px;font-size: 18px;">    
            Our machine learning relationship engine does the magic for you. We screen the page and understand the hierarchy of elements. You'll see the data pulled in seconds.
            </p>
            </div>
        <div>

</div>
</div>
</div>
<!--MAIN-->

{% endblock body%}

