{% extends 'base.html' %}

{% block title%}
Veronica | Home
{% endblock title%}

{% block style%}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/*CUSTOM SCROLLBAR CSS FROM W3 SCHOOLS*/
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
/*CUSTOM SCROLLBAR CSS FROM W3 SCHOOLS*/

/*To all Anchor Tags*/
a{
    text-decoration: none;
    color: thistle;
}
/*To all Anchor Tags*/

/*Navbar CSS*/
.navbar{
    padding: 5px;
    background-color: #1fd1f9;
    background-image: linear-gradient(30deg, #1fd1f9 0%, #b621fe 74%);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.101);
}
.navbar h2{
    font-size: 40px;
    color: white;
    font-weight: 500;
    text-shadow: 3px 3px 5px black;
    letter-spacing: 2px;
}   
.navbar .inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 20px;
}
.navbar .inner .navLinks{
    display: flex;
    align-items: center;
}
.navbar .inner .navLinks a{
    font-weight: 500;
    font-size: 17px;
    margin-left: 12px;
    margin-right: 12px;
    vertical-align: middle;
}
.navbar .inner .navLinks a:hover {
    color: aqua;
}
/*Navbar CSS*/

/*bg1*/
.bg1{
    padding: 0.8% 5% 0 5%;
    background: rgba(153, 153, 153, 0.048);
    min-height: 700px;
    overflow-x: hidden;
}
/*head*/
.bg1 .head{
    padding: 20px;
}
.bg1 .head h1{
    font-size: 45px;
    font-weight: 700;
}
.bg1 .head p{
    font-size: 20px;
    margin-top: 10px;
    margin-left: 8px;
}
/*head*/

/*ROW 1*/
.bg1 img{
    width: 700px;
    height: 500px;
    padding: 35px;
    padding-top: 0;
}
.bg1 .row{
    display: flex;
    width: 100%;
    margin-bottom: 80px;
}
.bg1 .row .content{
    text-align: center;
}
.bg1 .row .content h1{
    margin-top: 10px;
}
.bg1 .row .content p{
    margin: 20px;
}
.bg1 .twoButtons{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bg1 .twoButtons a{
    padding: 10px 15px 10px 15px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 6px;
}
.bg1 .twoButtons a:nth-child(1){
    margin-right: 25px;
    background: linear-gradient(45deg, #7f00ff, #e100ff);
    letter-spacing: 0.5px;
    border: 2px solid transparent;
}
.bg1 .twoButtons a:nth-child(2){
    border: 2px solid #7f00ff;
    color: #7f00ff;
}

#r3 img{
    width: 50%;
    margin-right: 7%;
}
#r3 .content h1{
    margin-top: 25px;
}
#r3 .content p{
    line-height: 40px;
    font-size: 18px;
}
#r1 img{
    width: 90%;
}
/*ROW 1*/

/*bg1*/
@media(max-width:450px){
    #block{
        display: block;
    }
}
@media(max-width:1381px){
    
    .bg1{
        padding: 1% 12% 0 12%;
    }
    .row{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
@media(max-width:1200px){
    .navbar{
        padding: 5px;
    }
    .navbar h2{
        font-size: 35px;
    }
    .bg1{
        background: rgba(153, 153, 153, 0.075);
        min-height: 700px;
        overflow-x: hidden;
        padding: 1% 12% 0 12%;
    }
    .bg1 .head{
        padding: 20px;
    }
    .bg1 .head h1{
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 8px;
    }
    .bg1 .head p{
        font-size: 18px;
        margin-top: 10px;
        margin-left: 8px;
    }
    .bg1 img{
        width: 100%;
        padding: 35px;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 0;
    }
    .bg1 .row{
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        margin-bottom: 80px;
    }
    .bg1 .row .content{
        text-align: center;
    }
    .bg1 .row .content h1{
        margin-top: 10px;
    }
    .bg1 .row .content p{
        margin: 20px;
        padding-left: 0;
        padding-right: 0;
        font-size: 15px;
    }
    #r2{
        flex-direction: column-reverse;
        align-items: center;
    }
    #r3{
        align-items: center;
        padding-left: 0;
        padding-right: 0;
    }
    #r3 img{
        width: 100% !important;
        margin-right: 0 !important;
        padding-left: 0;
        padding-right: 0;
    }
    #r3 .content p{
        line-height: 25px !important;
    }

}
@media(max-width:420px){
    .navbar h2{
        font-size: 35px !important;
    }
    .navbar .inner{
        padding: 5px;
    }
}
@media(max-width:600px){
    .bg1{
        padding: 1.5% 3% 0 3% ;
    }
    #r1 img{
        height: 300px;
    }
    
    #r2 img{
        height: 300px;
    }
    
    #r3 img{
        height: 300px;
    }
    ::-webkit-scrollbar{
        display: none;
    }
    #r1 h1,#r2 h1,#r3 h1{
        font-size: 24px;
    }
}
.hiddenbutts{
    display: none;
}
/*FOR NAVBAR => */
@media(max-width:880px){
/*HAMBURGER*/
    .hiddenbutts{
        display: block;
    }
    .fa-times,.fa-bars{
        display: block;
        color: white;
        font-size: 25px;
        padding: 5px 12px 5px 12px;
        border: 1px solid white;
        background: transparent;
        border-radius: 5px;
    }
/*HAMBURGER*/
    /*Navbar CSS*/
    .navbar{
        padding: 5px;
    }
    .navbar h2{
        font-size: 40px;
        color: white;
        font-weight: 500;
        text-shadow: 3px 3px 5px black;
        letter-spacing: 2px;
    }   
    .navbar .inner{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 8px 20px;
    }
    .navbar .inner .navLinks{
        display: none;
        top: 76.8px;
        left: 0;
        right: 0;
        position: absolute;
        height: 90vh;
        width: 100%;
        flex-direction: column;
        padding-top: 50px;
        padding-bottom: 50px;
        background: black;
        position: fixed;            /**/
    }
    .navbar .inner .navLinks a{
        margin-bottom: 50px;
        color: aqua;
        font-weight: 700;
        font-size: 25px;
        padding-left: 25px;
        padding-right: 25px;
    }
    .navbar .inner .navLinks a:hover{
        color: chartreuse;
    }
    /*Navbar CSS*/
}
/* FOOTER */
.footer{
    padding: 15px 0 25px 0;
    text-align: center;
    background: black;
    color: aqua;
}
.footer p{
    padding: 20px;
    font-size: 22px;
}
@media(max-width:730px){
    .footer p {
        padding-left:  50px;
        padding-right: 50px;
    }
    .footer p a{
        display: block;
        margin-top: 10px;
    }
}
/*FOOTER*/
@media(max-width:880px){
    .active{
    color: chartreuse !important;   
}
}
{% endblock style%}

{% block activelink1 %}
  active
{% endblock activelink1 %}


{% block body%}
<!--MAIN-->
    <div id="bgone" class="bg1">
        <div class="head">
            <h1>The Online Web Scraper</h1>        
            <hr style="width: 70px;">
            <p>Making web data extraction easy and accessible for everyone.</p>
        </div>
        <div id="r1" class="row">
                <img id="first" src="https://miro.medium.com/max/3960/0*HICLyAdNSIyT0ODU.jpg" alt="">
            <div class="content">
                <h1>What is Web Scraping?</h1>
               <p> Web scraping, web harvesting, or web data extraction is data scraping used for extracting data from websites. The web scraping software may directly access the World Wide Web using the Hypertext Transfer Protocol or a web browser. While web scraping can be done manually by a software user, the term typically refers to automated processes implemented using a bot or web crawler. It is a form of copying in which specific data is gathered and copied from the web, typically into a central local database or spreadsheet, for later retrieval or analysis.Web scraping a web page involves fetching it and extracting from it.</p>
               <div class="twoButtons">
                   <a href="{% url 'veronica' %}"> Start Now </a>
                   <a href="https://en.wikipedia.org/wiki/Web_scraping" target="_blank"> Learn More</a>
               </div>
            </div>
        </div>        
        <div id="r2" class="row">
            <div class="content">
                <h1 style="margin-top: 25px;">Why Choose Veronica ?</h1>
            <p style="line-height: 28px;">   Web data extraction tool with an easy point-and-click interface for modern web
                Free and easy to use web data extraction tool for everyone.
                With a simple point-and-click interface, the ability to extract thousands of records from a website takes only a few minutes of scraper setup.
                Web Scraper utilizes a modular structure that is made of selectors, which instruct the scraper on how to traverse the target site and what data to extract. Thanks to this structure, data mining from modern and dynamic websites such as Amazon, Tripadvisor, eBay, as well as from lesser-known sites is effortless.
                Data extraction is run on your browser and doesn’t require anything to be installed on your computer. You don't need Python, PHP, or JavaScript coding experience to start scraping. Additionally, it is possible to completely automate data extraction in Web Scraper Cloud.
            </p>
            </div>
            <img id="second" src="https://img.freepik.com/free-vector/web-development-programmer-engineering-coding-website-augmented-reality-interface-screens-developer-project-engineer-programming-software-application-design-cartoon-illustration_107791-3863.jpg?size=626&ext=jpg" alt="">
        </div>
        <div id="r3" class="row" style="margin-top: 40px;">
            <img id="third" style="width: 50%;margin-right: 7%;" src="https://i.pinimg.com/736x/4e/1f/eb/4e1feb9123d1322fe7b8585d26f4a737.jpg" alt="">
            <div class="content">
                <h1 style="margin-top: 25px;">Easy to Use: <span id="block"> No Coding Required! </span></h1>
            <p style="line-height: 40px;font-size: 18px;">
                Need to extract data quickly?
            </p>
            <p style="line-height: 40px;font-size: 18px;">
                Open a website of your choice and start clicking on the data you want to extract. It's that easy! Scrape your data with no code at all.
            </p>
            <p style="line-height: 40px;font-size: 18px;">    
            Our machine learning relationship engine does the magic for you. We screen the page and understand the hierarchy of elements. You'll see the data pulled in seconds.
            </p>
            </div>
        <div>

</div>
</div>
</div>
<!--MAIN-->

{% endblock body%}

{% block script%}
{% endblock script%}


