{% extends 'base.html' %} 
{% load static %}
{% block title %} 
Veronica Scrap Website
{% endblock title %}

{% block activelink2 %}
active
{% endblock activelink2 %}


{% block body %} 
<link rel="stylesheet" href="{% static 'css/Veronica.css' %}">

 <form id="bgone" action="" method="post">
  {% csrf_token %}
    <div id="mains" class="main">
            <div class="make">
<button class="backtoup" onclick="topFunction()" id="myBtn" title="Go to top"> <i class="fas fa-chevron-up"></i> </button>

        <h1>Enter Your <span class="block2">URL Here</span></h1> 
            <div class="forum">
                <input name="url" type="url" placeholder="https://something.com" required>
                <button id="scrappy" type="submit" > SCRAP </button>  
            </div>
            <h2>Select which element you want to scrap <span id="block1"> (choose only one) </span> </h2>
    <div class="table">

      <div class="col col1">
        <div class="row">
          <h6 class="rowhead" style="position: relative;top: -20px;text-align: center;font-weight: 500;color: #ff156f;font-size: 16px;padding-top: 8px;">TEXTS</h6>
            <div style="display: flex;align-items: center;" class="form-check form-switch form-switch-lg">
                <input class="form-check-input" name="h1" type="checkbox" id="flexSwitchCheckChecked">
                <label class="form-check-label" for="flexSwitchCheckChecked">h1 <span class="abr"> (text) </span> </label>
            </div>
        
            <div style="display: flex;align-items: center;" class="form-check form-switch form-switch-lg">
                <input class="form-check-input" name="h2" type="checkbox" id="flexSwitchCheckChecked" >
                <label class="form-check-label" for="flexSwitchCheckChecked">h2 <span class="abr"> (text) </span> </label>
            </div>
            <div style="display: flex;align-items: center;" class="form-check form-switch form-switch-lg">
                <input class="form-check-input" name="h3" type="checkbox" id="flexSwitchCheckChecked" >
                <label class="form-check-label" for="flexSwitchCheckChecked">h3 <span class="abr"> (text) </span> </label>
            </div>
            <div style="display: flex;align-items: center;" class="form-check form-switch form-switch-lg">
                <input class="form-check-input" name="h4" type="checkbox" id="flexSwitchCheckChecked" >
                <label class="form-check-label" for="flexSwitchCheckChecked">h4 <span class="abr"> (text) </span></label>
            </div>
            <div style="display: flex;align-items: center;" class="form-check form-switch form-switch-lg">
                <input class="form-check-input" name="h5" type="checkbox" id="flexSwitchCheckChecked" >
                <label class="form-check-label" for="flexSwitchCheckChecked">h5 <span class="abr"> (text) </span></label>
            </div>
            <div style="display: flex;align-items: center;" class="form-check form-switch form-switch-lg">
                <input class="form-check-input" name="h6" type="checkbox" id="flexSwitchCheckChecked" >
                <label class="form-check-label" for="flexSwitchCheckChecked">h6 <span class="abr"> (text) </span> </label>
            </div>
            <div style="display: flex;align-items: center;" class="form-check form-switch form-switch-lg">
                <input class="form-check-input" name="p" type="checkbox" id="flexSwitchCheckChecked" >
                <label class="form-check-label" for="flexSwitchCheckChecked">p <span class="abr"> (text) </span> </label>
            </div>
        </div>
                
        <div class="row">
          <h6 class="rowhead" style="position: relative;top: -20px;text-align: center;font-weight: 500;color: #ff156f;font-size: 16px;padding-top: 8px;">URL & TAGS</h6>
          <div style="display: flex;align-items: center;" class="form-check form-switch form-switch-lg">
              <input class="form-check-input" name="an" type="checkbox" id="flexSwitchCheckChecked" >
              <label class="form-check-label" style="text-transform: none;" for="flexSwitchCheckChecked">a <span class="abr"> (name) </span> </label>
          </div>
          <div style="display: flex;align-items: center;" class="form-check form-switch form-switch-lg">
              <input class="form-check-input" name="al" type="checkbox" id="flexSwitchCheckChecked" >
              <label class="form-check-label" style="text-transform: none;" for="flexSwitchCheckChecked">a <span class="abr"> (url) </span> </label>
          </div>
          <div style="display: flex;align-items: center;" class="form-check form-switch form-switch-lg">
              <input class="form-check-input" name="img" type="checkbox" id="flexSwitchCheckChecked" >
              <label class="form-check-label" for="flexSwitchCheckChecked">Image <span class="abr"> (url) </span> </label>
          </div>
          
          <div style="display: flex;align-items: center;" class="form-check form-switch form-switch-lg">
            <input class="form-check-input" name="divtext" type="checkbox" id="flexSwitchCheckChecked" >
            <label class="form-check-label" for="flexSwitchCheckChecked">div <span class="abr"> (text) </span> </label>
        </div>
          <div style="display: flex;align-items: center;" class="form-check form-switch form-switch-lg">
              <input class="form-check-input" name="divtag" type="checkbox" id="flexSwitchCheckChecked" >
              <label class="form-check-label" for="flexSwitchCheckChecked"> Div <span class="abr"> (tag) </span>  </label>
          </div>
          <div style="display: flex;align-items: center;" class="form-check form-switch form-switch-lg">
            <input class="form-check-input" name="alltags" type="checkbox" id="flexSwitchCheckChecked" >
            <label class="form-check-label" for="flexSwitchCheckChecked"> All Tags</label>
          </div>
          <div style="display: flex;align-items: center;" class="form-check form-switch form-switch-lg">
              <input class="form-check-input" name="title" type="checkbox" id="flexSwitchCheckChecked" >
              <label class="form-check-label" for="flexSwitchCheckChecked">Title <span class="abr"> (name) </span> </label>
          </div>
        </div>
      </div>
      <div class="col col2">               
        <div class="row">
          <h6 class="rowhead" style="position: relative;top: -20px;text-align: center;font-weight: 500;color: #ff156f;font-size: 16px;padding-top: 8px;">TAGS & LETTERS</h6>
          <div style="display: flex;align-items: center;" class="form-check form-switch form-switch-lg">
              <input class="form-check-input" name="html" type="checkbox" id="flexSwitchCheckChecked" >
              <label class="form-check-label" style="text-transform: none;" for="flexSwitchCheckChecked">HTML <span class="abr"> (TAG) </span> </label>
          </div>
          <div style="display: flex;align-items: center;" class="form-check form-switch form-switch-lg">
              <input class="form-check-input" name="body" type="checkbox" id="flexSwitchCheckChecked" >
              <label class="form-check-label" style="text-transform: none;" for="flexSwitchCheckChecked">BODY <span class="abr"> (TAG) </span> </label>
          </div>
          <div style="display: flex;align-items: center;" class="form-check form-switch form-switch-lg">
            <input class="form-check-input" name="class" type="checkbox" id="flexSwitchCheckChecked" >
            <label class="form-check-label" for="flexSwitchCheckChecked">CLASS <span class="abr"> (ALL) </span></label>
        </div>
          <div style="display: flex;align-items: center;" class="form-check form-switch form-switch-lg">
            <input class="form-check-input" name="id" type="checkbox" id="flexSwitchCheckChecked" >
            <label class="form-check-label" for="flexSwitchCheckChecked"> ID <span class="abr"> (ALL) </span> </label>
        </div>
        <div style="display: flex;align-items: center;" class="form-check form-switch form-switch-lg">
          <input class="form-check-input" name="strong" type="checkbox" id="flexSwitchCheckChecked" >
          <label class="form-check-label" for="flexSwitchCheckChecked"> STRONG <span class="abr"> (bold) </span> </label>
        </div>
        <div style="display: flex;align-items: center;" class="form-check form-switch form-switch-lg">
          <input class="form-check-input" name="em" type="checkbox" id="flexSwitchCheckChecked" >
          <label class="form-check-label" for="flexSwitchCheckChecked"> EM  <span class="abr"> (italics) </span> </label>
      </div>
          <div style="display: flex;align-items: center;" class="form-check form-switch form-switch-lg">
              <input class="form-check-input" name="u" type="checkbox" id="flexSwitchCheckChecked" >
              <label class="form-check-label" for="flexSwitchCheckChecked"> U <span class="abr"> (underline) </span> </label>
          </div>
        </div>
        <div class="row">
          <h6 class="rowhead" style="position: relative;top: -20px;text-align: center;font-weight: 500;color: #ff156f;font-size: 16px;padding-top: 8px;">Coming Soon</h6>
          <div style="display: flex;align-items: center;" class="form-check form-switch form-switch-lg">
              <input class="form-check-input" name="linksrc" type="checkbox" id="flexSwitchCheckChecked" onclick="return false;"/>
              <label class="form-check-label" for="flexSwitchCheckChecked">LINK <span class="abr"> (SRC) </span> </label>
          </div>
      
          <div style="display: flex;align-items: center;" class="form-check form-switch form-switch-lg">
              <input class="form-check-input" name="linktag" type="checkbox" id="flexSwitchCheckChecked"  onclick="return false;"/>
              <label class="form-check-label" for="flexSwitchCheckChecked">LINK <span class="abr"> (TAG) </span> </label>
          </div>
          <div style="display: flex;align-items: center;" class="form-check form-switch form-switch-lg">
              <input class="form-check-input" name="stylesrc" type="checkbox" id="flexSwitchCheckChecked"  onclick="return false;"/>
              <label class="form-check-label" for="flexSwitchCheckChecked">  STYLE <span class="abr"> (SRC) </span>  </label>
          </div>
          <div style="display: flex;align-items: center;" class="form-check form-switch form-switch-lg">
              <input class="form-check-input" name="styletag" type="checkbox" id="flexSwitchCheckChecked"  onclick="return false;"/>
              <label class="form-check-label" for="flexSwitchCheckChecked">  STYLE <span class="abr"> (TAG) </span> </label>
          </div>
          <div style="display: flex;align-items: center;" class="form-check form-switch form-switch-lg">
              <input class="form-check-input" name="scriptsrc" type="checkbox" id="flexSwitchCheckChecked"  onclick="return false;"/>
              <label class="form-check-label" for="flexSwitchCheckChecked"> SCRIPT <span class="abr"> (SRC) </span></label>
          </div>
          <div style="display: flex;align-items: center;" class="form-check form-switch form-switch-lg">
              <input class="form-check-input" name="scripttag" type="checkbox" id="flexSwitchCheckChecked"  onclick="return false;"/>
              <label class="form-check-label" for="flexSwitchCheckChecked">  SCRIPT <span class="abr"> (TAG) </span> </label>
          </div>
          <div style="display: flex;align-items: center;" class="form-check form-switch form-switch-lg">
              <input class="form-check-input" name="imgadv" type="checkbox" id="flexSwitchCheckChecked"  onclick="return false;"/>
              <label class="form-check-label" for="flexSwitchCheckChecked">IMAGE <span class="abr adv"> (ADV.) </span> </label>
          </div>
      </div>
      </div>
          </div>
    </div>
</form>    
{% if response %}
  
    <div class="result">
        <h1>Scrapped Material</h1>
        <h2>   based on the options you selected here are the results </h2>
        <div class="alignright"> {% if image %}  <a href="#imagesgall"> <button type="button"> Images </button> </a> {% endif %}</div>
        <div style="text-align: center;" class="results"> 
          <div class="h1" style="padding: 10px;">
          {% if h1 %}
          <br>
           <span class="h1a" style="font-weight: 700;font-size: 25px;"> H1 </span>
          <br>
          <br>
          <span class="h1b" style="font-weight: 700;"> 
            {% for i in h1 %} {{i}} <br> {% endfor %} 
          </span>
          <br>
          {% else %}  
          <br>
          <span class="h1a" style="font-weight: 700;font-size: 25px;"> H1 </span>
            <span class="h1c" style="font-weight: 700;text-align: center; display: block; font-size: 20px;margin: 25px 0 25px 0;">
              H1 IS ABSENT
            </span>
          {% endif %}
        </div>
        <div class="h2" style="padding: 10px;" class="h2">
        <!---->
          {% if h2 %}  
          <span class="h2a" style="font-weight: 700;font-size: 25px;">H2</span> 
         <br>
         <br>
         <span class="h2b" style="font-weight: 700;"> 
           {% for i in h2 %} {{i}} <br> {% endfor %} 
         </span>
         <br>
         {% else %}  
         <span class="h2a" style="font-weight: 700;font-size: 25px;">H2</span> 
           <span class="h2c" style="text-align: center; display: block; font-size: 20px;margin: 25px 0 25px 0;">
             H2 IS ABSENT
           </span>
         {% endif %}          
        <!---->
        </div>

        <div style="padding: 10px;" class="h3">
        <!---->
          {% if h3 %}  
          <span class="h3a" style="font-weight: 700;font-size: 25px;">H3</span>
         <br>
         <br>
         <span class="h3b" style="font-weight: 700;"> 
           {% for i in h3 %} {{i}} <br> {% endfor %} 
         </span>
         <br>
         {% else %}  
         <span class="h3a" style="font-weight: 700;font-size: 25px;">H3</span>
           <span class="h3c" style="text-align: center; display: block; font-size: 20px;margin: 25px 0 25px 0;">
             H3 IS ABSENT
           </span>
         {% endif %}    
        </div>
        
        <div style="padding: 10px;" class="h4">
        <!---->
         {% if h4 %}  
         <span class="h4a" style="font-weight: 700;font-size: 25px;">H4</span>
        <br>
        <br>
        <span class="h4b" style="font-weight: 700;"> 
          {% for i in h4 %} {{i}} <br> {% endfor %} 
        </span>
        <br>
        {% else %}  
        <span class="h4a" style="font-weight: 700;font-size: 25px;">H4</span>
          <span class="h4c" style="text-align: center; display: block; font-size: 20px;margin: 25px 0 25px 0;">
            H4 IS ABSENT
          </span>
        {% endif %}  
        <!---->
      </div>
      <div style="padding: 10px;" class="h5">
        {% if h5 %}  
        <span class="h5a" style="font-weight: 700;font-size: 25px;">H5 </span>
       <br>
       <br>
       <span class="h5b" style="font-weight: 700;"> 
         {% for i in h5 %} {{i}} <br> {% endfor %} 
       </span>
       <br>
       {% else %}  
       <span class="h5a" style="font-weight: 700;font-size: 25px;">H5 </span>
         <span class="h5c" style="text-align: center; display: block; font-size: 20px;margin: 25px 0 25px 0;">
           H5 IS ABSENT
         </span>
       {% endif %}    
      </div>
      
      <div style="padding: 10px;" class="h6">
       {% if h6 %}  
       <span class="h6a" style="font-weight: 700;font-size: 25px;">H6 </span>
      <br>
      <br>
      <span class="h6b" style="font-weight: 700;"> 
        {% for i in h6 %} {{i}} <br> {% endfor %} 
      </span>
      <br>
      {% else %}  
      <span class="h6a" style="font-weight: 700;font-size: 25px;">H6 </span>
            <span class="h6c" style="text-align: center; display: block;font-weight: 700; font-size: 20px;margin: 25px 0 25px 0;">
              H6 IS ABSENT
            </span>
          {% endif %}          
        </div>
        <div style="padding: 10px;" class="p">
        {% if p %}  
        <span class="pa" style="font-weight: 700;font-size: 25px;">P</span>
        <br>
        <br>
        <span class="pb" style="font-weight: 500;font-size: 15px;"> 
          {% for i in p %} {{i}} <br> {% endfor %} 
        </span>
        <br>
        {% else %}  
        <span class="pa" style="font-weight: 700;font-size: 25px;">P</span>
          <span class="pc" style="text-align: center; display: block; font-size: 20px;margin: 25px 0 25px 0;">
            P IS ABSENT
          </span>
        {% endif %}    
      </div>
      <div style="padding: 10px;"  class="an">      
        {% if an %}  
        <span class="ana" style="font-weight: 700;font-size: 25px;">ANCHOR NAMES </span>
      <br>
      <br>
      <span class="anb"> 
        {% for i in an %} {{i}}  <br> {% endfor %}
      </span>
      <br>
      {% else %}  
      <span class="ana" style="font-weight: 700;font-size: 25px;">ANCHOR NAMES </span>
        <span class="anc" style="text-align: center; display: block; font-size: 20px;margin: 25px 0 25px 0;">
          Anchor Name IS ABSENT
        </span>
      {% endif %}     
    </div>
    <div style="padding: 10px;" class="al">     
      {% if al %}  
      <span class="ala" style="font-weight: 700;font-size: 25px;">ANCHOR LINKS </span>
      <br>
      <br>
      <span  style="font-weight: 700;"> 
        {% for i in al %} <a class="alb" href="{{i}}" target="_blank">  {{i}}  </a> <br> {% endfor %} 
      </span>
      <br>
      {% else %}  
      <span class="ala" style="font-weight: 700;font-size: 25px;">ANCHOR LINKS </span>
        <span class="alc" style="text-align: center; display: block; font-size: 20px;margin: 25px 0 25px 0;">
          Anchor Link Is Absent
        </span>
      {% endif %}   
    </div>
    <div style="padding: 10px;" class="image">       
      {% if image %}  
      <span class="imagea" style="font-weight: 700;font-size: 25px;">IMAGE LINK</span>
      <br>
      <br>
      <span style="font-weight: 700;" > 
        {% for i in image %} <a class="imageb" href="{{i}}" target="_blank"> {{i}} </a> <br> {% endfor %} 
      </span>
      <br>
      {% else %}  
      <span class="imagea" style="font-weight: 700;font-size: 25px;">IMAGE LINK</span>
        <span class="imagec" style="text-align: center; display: block; font-size: 20px;margin: 25px 0 25px 0;text-transform: uppercase;">
          Image Link Is Absent
        </span>
      {% endif %}
    </div>
    <div style="padding: 10px;" class="div">
      {% if div %}  
      <span class="diva" style="font-weight: 700;font-size: 25px;">DIVISION TEXT </span>
    <br>
    <br>
    <span class="divb" style="font-weight: 400;"> 
      {% for i in div %}  {{i}} <br> {% endfor %} 
    </span>
    <br>
    {% else %}  
    <span class="diva" style="font-weight: 700;font-size: 25px;">DIVISION TEXT</span><br><br>
      <span class="divc" style="text-align: center;font-size: 20px;">
        division TEXT Is Absent
      </span>
    {% endif %}
    </div>
      <!--ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH-->
    <div style="padding: 10px;" class="divtag">
      {% if divtag %}  
      <span class="divtaga" style="font-weight: 700;font-size: 25px;">DIVISION TAG </span>
    <br>
    <br>
    <span class="divtagb" style="font-size: 14px;font-weight: 400;"> 
      {% for i in divtag %}  {{i}} <br> <br> {% endfor %} 
    </span>
    <br>
    {% else %}  
    <span class="divtaga" style="font-weight: 700;font-size: 25px;">DIVISION TAG</span><br><br>
      <span class="divtagc" style="text-align: center;font-size: 20px;">
          Division TAG Is Absent
      </span>
    {% endif %}
    </div> 
      <!--ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH-->

            <!--ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH-->
    <div style="padding: 10px;" class="alltag">
      {% if alltagnames %}  
      <span class="alltaga" style="font-weight: 700;font-size: 25px;"> ALL TAG NAMES </span>
    <br>
    <br>
    <span class="alltagb" style="font-weight: 400;"> 
      {% for i in alltagnames %}  {{i}} <br> {% endfor %} 
    </span>
    <br>
    {% else %}  
    <span class="alltaga" style="font-weight: 700;font-size: 25px;">ALL TAG NAMES</span><br><br>
      <span class="alltagc" style="text-align: center;font-size: 20px;">
          All TAGs Names are Absent
      </span>
    {% endif %}
    </div> 
      <!--ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH-->



            <!--ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH-->
            <div style="padding: 10px;" class="source">
              {% if title %}  
              <span class="sourcea" style="font-weight: 700;font-size: 25px;"> TITLE NAME </span>
            <br>
            <br>
            <span class="sourceb" style="font-weight: 700;color: black;font-size: 22px;"> 
              {% for i in title %}  {{i}} <br> {% endfor %} 
            </span>
            <br>
            {% else %}  
            <span class="sourcea" style="font-weight: 700;font-size: 25px;">TITLE NAME</span><br><br>
              <span class="sourcec" style="text-align: center;font-size: 20px;">
                TITLE NAME IS Absent
              </span>
            {% endif %}
            </div> 
              <!--ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH-->

            <!--ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH-->
    <div style="padding: 10px;" class="html">
      {% if html %}  
      <span class="htmla" style="font-weight: 700;font-size: 25px;">HTML TAG </span>
    <br>
    <br>
    <span class="htmlb" style="font-weight: 400;"> 
      {% for i in html %}  {{i}} <br> {% endfor %} 
    </span>
    <br>
    {% else %}  
    <span class="htmla" style="font-weight: 700;font-size: 25px;">HTML TAG</span><br><br>
      <span class="htmlc" style="text-align: center;font-size: 20px;">
          HTML TAG Is Absent
      </span>
    {% endif %}
    </div> 
      <!--ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH-->

            <!--ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH-->
    <div style="padding: 10px;" class="body">
      {% if body %}  
      <span class="bodya" style="font-weight: 700;font-size: 25px;">BODY TAG </span>
    <br>
    <br>
    <span class="bodyb" style="font-weight: 400;"> 
      {% for i in body %}  {{i}} <br> {% endfor %} 
    </span>
    <br>
    {% else %}  
    <span class="bodya" style="font-weight: 700;font-size: 25px;">BODY TAG</span><br><br>
      <span class="bodyc" style="text-align: center;font-size: 20px;">
          body tag Is Absent
      </span>
    {% endif %}
    </div> 
      <!--ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH-->
      
            <!--ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH-->
    <div style="padding: 10px;" class="class">
      {% if classname %}  
      <span class="classa" style="font-weight: 700;font-size: 25px;">Class names </span>
    <br>
    <br>
    <span class="classb" style="font-weight: 400;"> 
      {% for i in classname %}  {{i}} <br> {% endfor %} 
    </span>
    <br>
    {% else %}  
    <span class="classa" style="font-weight: 700;font-size: 25px;">Class names</span><br><br>
      <span class="classc" style="text-align: center;font-size: 20px;">
          Class names are Absent
      </span>
    {% endif %}
    </div> 
      <!--ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH-->
      
            <!--ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH-->
    <div style="padding: 10px;" class="id">
      {% if idname %}  
      <span class="ida" style="font-weight: 700;font-size: 25px;">id names </span>
    <br>
    <br>
    <span class="idb" style="font-weight: 400;"> 
      {% for i in idname %}  {{i}} <br> {% endfor %} 
    </span>
    <br>
    {% else %}  
    <span class="ida" style="font-weight: 700;font-size: 25px;">id names</span><br><br>
      <span class="idc" style="text-align: center;font-size: 20px;">
          id names are Absent
      </span>
    {% endif %}
    </div> 
      <!--ONE BATCH ONE BATCH ONE BATCH ONE r67ktrl7BATCH ONE BATCH ONE BAr576l8l;6TCH ONE BATCH ONE BATCH ONE BATCH ONE Br565tl6tyl;tATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH-->
      
            <!--ONE BATCH ONE eu6rBATCH ONE BATCH ONEr65t7lt BATCH ONE BATCH ONE BATCH O57686y78lNE BATCH ONE BATCH ONE 5t6l8l6lo6yBATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH-->
    <div style="padding: 10px;" class="b">
      {% if strong %}  
      <span class="ba" style="font-weight: 700;font-size: 25px;">STRONG TEXT </span>
    <br>
    <br>
    <span class="bb" style="font-weight: 900;"> 
      {% for i in strong %}  {{i}} <br> {% endfor %} 
    </span>
    <br>
    {% else %}  
    <span class="ba" style="font-weight: 700;font-size: 25px;">STRONG TEXT</span><br><br>
      <span class="bc" style="text-align: center;font-size: 20px;">
        STRONG TEXT IS Absent
      </span>
    {% endif %}
    </div> 
      <!--ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH-->
      
            <!--ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH-->
    <div style="padding: 10px;" class="em">
      {% if em %}  
      <span class="ema" style="font-weight: 700;font-size: 25px;">Em text </span>
    <br>
    <br>
    <span class="emb" style="font-weight: 400;font-style: italic;"> 
      {% for i in em %}  {{i}} <br> {% endfor %} 
    </span>
    <br>
    {% else %}  
    <span class="ema" style="font-weight: 700;font-size: 25px;">em text</span><br><br>
      <span class="emc" style="text-align: center;font-size: 20px;">
          em text Is Absent
      </span>
    {% endif %}
    </div> 
      <!--ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH-->
      
            <!--ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH ONE BATCH-->
    <div style="padding: 10px;" class="u">
      {% if u %}  
      <span class="ua" style="font-weight: 700;font-size: 25px;">U TEXT </span>
    <br>
    <br>
    <span class="ub" style="font-weight: 400;"> 
      {% for i in u %} <u> {{i}} </u><br> {% endfor %} 
    </span>
    <br>
    {% else %}  
    <span class="ua" style="font-weight: 700;font-size: 25px;">U TEXT</span><br><br>
      <span class="uc" style="text-align: center;font-size: 20px;">
          U TEXT Is Absent
      </span>
    {% endif %}
    </div> 
  </div>
    </div>

    {% if image %}
    <div class="imagesdisplayed">

      <h1 id="imagesgall" class="heading-picture"> IMAGES FROM SCRAPING</h1> <br>
    {% for i in image %}
    
    <a href="{{i}}" target="_blank"> <img src="{{i}}" alt="" width="100%">  </a>
    
    {% endfor %}
    {% endif %}
    </div>

{% endif %}

</div>


<script>
//Get the button
var mybutton = document.getElementById("myBtn");

// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 40 || document.documentElement.scrollTop > 40) {
    mybutton.style.display = "block";
  } else {
    mybutton.style.display = "none";
  }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
}
</script>
{% endblock body %}